
<div class="container">
  <h2>Register</h2>
  <form action="/users/register" method="POST">
   <div class="form-group">
    <input name="firstname" placeholder="Ebere" class="form-control" />
   </div>
   <div class="form-group">
     <input name="lastname" placeholder="Ebere" class="form-control" />
   </div>
   <div class="form-group">
     <input name="email" placeholder="email@email.com" class="form-control" />
   </div>
   <div class="form-group">
     <input name="username" placeholder="Ebere" class="form-control" />
   </div>
  
   <div class="form-group">
     <input name="password" placeholder="****" type="password" class="form-control" />
    </div>
  
    <div class="form-group">
      <input name="submit" type="submit" class="btn btn-block btn-primary" />
     </div>
  
  </form>

</div>